---
    import PriceButton from '../buttons/PriceButton.astro';

    interface Props {
        ProductName: string;
        ProductBrand: string
        ProductPrice: string;
        ProductImage: any;
    }

    const { ProductName, ProductPrice, ProductImage, ProductBrand } = Astro.props;
---

<main class="bg-white text-black flex flex-col w-80 h-auto  rounded-xl ">
    <img src={ ProductImage } alt="Product Image" class="w-full h-auto">
    <div class="flex flex-col justify-center items-center">
        <h1 class="font-bold text-3xl">{ ProductName }</h3>
        <em>{ ProductBrand }</em>
        <strong class="font-bold text-3xl text-gray-800 py-5">${ ProductPrice }</strong>
 
        <PriceButton Price={ProductPrice} />
    </div>
</main>