<section class="w-full h-92vh bg-slate-50 px-8% flex flex-col justify-center gap-5 mb">
   <h1 class='text-6xl max-w-2xl font-medium'>La maquinaria pesada que necesitas para alcanzar tus objetivos</h1>

   <span class="flex gap-5">
      <a class="flex justify-center items-center border border-black w-24 h-8 hover:bg-slate-50 transition duration-500" href="">Botones</a>
      <a class="flex justify-center items-center border border-black w-24 h-8 hover:bg-slate-50 transition duration-500" href="">Botones</a>
   </span>
</section>