<section class="w-full h-92vh bg-slate-50 px-8% flex flex-col justify-center gap-8 pb-8vh">
   <h1 class='text-6xl max-w-2xl font-medium max-sm:text-4xl'>La maquinaria pesada que necesitas para alcanzar tus objetivos</h1>

   <span class="flex gap-5">
      <a class="py-2 px-9 text-white font-bold rounded-md  bg-slate-950 hover:-translate-y-2 transition-all duration-300 hover:shadow-xl hover:shadow-slate-800 max-sm:px-5" href="">Botones</a>
      <a class="py-2 px-9 text-white font-bold rounded-md  bg-slate-950 hover:-translate-y-2 transition-all duration-300 hover:shadow-xl hover:shadow-slate-800 max-sm:px-5 " href="">Botones</a>
   </span>
</section>