
<footer class="bg-slate-50 footer cursor-default w-full text-black px-8% py-5 flex flex-col justify-between">
    <article class="flex gap-5 justify-between flex-wrap">
    <span class="flex flex-col gap-3">
      <h3 class="text-black font-semibold">Inverfennix</h3>
      <p class="max-w-sm font-semibold">
        Feel free to give it another try, your persistence and determination
        will lead you to success.
      </p>
    </span>
    <div class="flex flex-col gap-3">
      <h3 class="text-black font-semibold">Company</h3>
      <span>Home</span>
      <span>Privacy Policy</span>
      <span>About us</span>
    </div>

    <div class="flex flex-col gap-3">
      <h3 class="text-black font-semibold">Services</h3>
      <span>market</span>
      <span>purchase</span>
      <span>change</span>
    </div>

    <span>
      <h3 class="text-black font-semibold">
         <a href="#">redes</a>
         <a href="#">redes</a>
      </div>
    </span>
  </article>
  <article class="flex justify-between">
    <span class="font-semibold">&copy; <span id="year"></span> Inverfennix</span>
    <a class="font-semibold" target="_blank" href="https://github.com/MINOTAURO18">Made By Inverfennix</a>
  </article>

</footer>