---
import NavBar from '../components/NavBar.astro'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>title</title>
  </head>
  <body >
    <NavBar/>
    <slot />
  </body>
</html>

<style>
  body::-webkit-scrollbar{
    width: 0;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: rgb(2, 0, 13);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(2, 0, 13);
  }
</style>



