---
import NavBar from '../components/NavBar.astro'
import NavBarMobile from '../components/NavBarMobile.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>title</title>
  </head>
  <body>
    <NavBar/>
    <NavBarMobile/>
    <slot />
  </body>
</html>

<style is:global>
  body::-webkit-scrollbar{
    width: 0;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: rgb(2, 0, 13);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(2, 0, 13);
  }

  html{
    background-color: aliceblue;
  }

  html.dark {
  background-color: #00030e;
  color: white;
  transition: all .3s ease-in-out;
}

</style>



